body {
    font-family: "neuzeit-grotesk",sans-serif;
}

.hero-video {
	overflow: hidden;
    position: relative;
	vertical-align: top !important;
}

.video-background { /* class name used in javascript too */
    width: 100%; /* width needs to be set to 100% */
    height: 100%; /* height needs to be set to 100% */
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

header.header {
    padding: 0;
	background: black;
}

.jumbotron img.logo {
    width: 80%;
    max-width: 500px;
}

.jumbotron .container {
    padding-bottom: 2.8125rem;
	vertical-align: top;
}

.jumbotron span.site-title {
	display: block;
}

.jumbotron .site-title,
.section-footer .site-title {
    padding: 4rem 0 0.5rem 0;
	margin: 0;
}

.section-footer h1.site-title {
	font-size: 5rem;
}

.jumbotron p.intro-text,
.section-footer p.intro-text {
    font-size: 1.625rem;
    line-height: 2.188rem;
    max-width: 90%;
    margin: auto;
    margin-bottom: 4rem;
}

img.appstore{
	min-width: 18rem;
}

section.section-usp {
    padding-bottom: 2.8125rem;
}

.section-usp .row {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: #f8f8f8;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.section-usp .container {
    padding-left: 0;
    padding-right: 0;
}

.section-usp .usp-text {
    line-height: initial;
    font-size: 1.625rem;
    line-height: 2.188rem;
}

.section-usp .usp-col {
    float: left;
    width: 50%;
}

.section-usp h3 {
    font-size: 2.750rem;
    line-height: 3.438rem;
}

.section-usp .usp-push {
    left: 50%;
}

.section-usp .usp-pull {
    right: 50%;
}

.section-usp .p-r-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.section-usp .p-l-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.section-usp article {
    max-width: 22.5rem;
    padding: 1rem;
}

.section-footer {
    background-color: black;
}

.section-footer .media {
    text-align: center;
}

@media (max-width: 767px) {
	/* remove player on smaller screens */
    .video-background {
        display: none;
    }
	
	header.header {
		background: black url(../img/bg-header.jpg) no-repeat center center;
		padding-bottom: 10px;
	}
	
	.jumbotron .site-title {
		padding: 2rem 0 0.5rem 0;
	}
	
	.section-footer h1.site-title {
		font-size: 3rem;
	}
	
	.jumbotron p.intro-text {
		max-width: none;
	}
	
    .section-usp h3 {
        font-size: 2rem;
        line-height: 2.3rem;
    }

    .section-usp .usp-text {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
	.jumbotron p.intro-text {
		margin-bottom: 2.5rem;
	}
}

@media (min-width: 1400px) {
	.jumbotron .site-title {
		padding: 5rem 0 1.5rem 0
	}
}
