body {
    font-family: "neuzeit-grotesk",sans-serif;
}

.jumbotron {
    background: black url(../img/bg-header.jpg) no-repeat center bottom;
    background-size: cover;
}

header.header {
    padding-top: 0;
}

.jumbotron img.logo {
    width: 80%;
    max-width: 500px;
}

.jumbotron .container {
    padding-bottom: 2.8125rem;
    /* */
}

.jumbotron .site-title,
.section-footer .site-title {
    padding-top: 2.8125rem;
    font-size: 5rem;
    font-weight: 500;
}

.jumbotron p.intro-text,
.section-footer p.intro-text {
    font-size: 1.625rem;
    line-height: 2.188rem;
    margin-bottom: 4rem;
}

.jumbotron img.appstore,
.section-footer img.appstore {
    min-width: 12rem;
}

section.section-usp {
    padding-bottom: 2.8125rem;
}

.section-usp .row {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: #f8f8f8;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.section-usp .container {
    padding-left: 0;
    padding-right: 0;
}

.section-usp .usp-text {
    line-height: initial;
    font-size: 1.625rem;
    line-height: 2.188rem;
}

.section-usp .usp-col {
    float: left;
    width: 50%;
}

.section-usp h3 {
    font-size: 2.750rem;
    line-height: 3.438rem;  
}

.section-usp .usp-push {
    left: 50%;
}

.section-usp .usp-pull {
    right: 50%;
}

.section-usp .p-r-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.section-usp .p-l-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.section-usp article {
    max-width: 22.5rem;
    padding: 1rem;
}

.section-footer {
    background-color: black;
}

.section-footer .media {
    text-align: center;
}

@media (max-width: 767px) {
    .section-usp h3 {
        font-size: 2rem;
        line-height: 2.3rem;
    }
    
    .section-usp .usp-text {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
}